.barra-contain{
    position: absolute;
    bottom: -0px;
    height: 6%;
    width: 100%;
    border-top: 1.5px rgba(255, 255, 255, 0.459) solid;
    display: flex;
    justify-content: flex-start;
     align-items: center;
    background-color: rgb(36, 35, 35 , 0.5) ;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.logo1-contain {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-bottom: 3px;
  }
  

.logo1,.logo2 , .logo3, .logo4, .logo6{
    max-height: 40px;
    min-height: 30px;
}

.logo5{
  height: 35px;
}

.logo2-contain, .logo3-contain, .logo4-contain , .logo5-contain, .logo6-contain{
    margin-left: 30px;
    height: 100%;
    width: 60px;
    justify-content: center;
    align-items: center;
    display: flex;
}



.logo2-contain:hover , .logo3-contain:hover, .logo4-contain:hover , .logo5-contain:hover, .logo6-contain:hover ,.logo2-contain.internet-active:hover, .logo3-contain.proyect-active{
    background-color: rgba(2, 1, 63, 0.5);
}


.logo2-contain.internet-active, .logo3-contain.proyect-active, .logo5-contain, .logo6-contain {
    background-color: rgba(2, 1, 63, 0.26);
    
  }


  .right-part{
    position: absolute;
    right: 0;
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: row-reverse;
  }
  .rectangle{
    background-color: rgba(0, 4, 255, 0.151);
    width: 18px;
    height: 97%;
    border: 1px rgba(255, 255, 255, 0.466) solid;
    border-top: none;
    border-radius: .8px;

  }
.time{
  font-size: 14px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;

}
.time p{
  color: white;
  font-weight: 500;
  width: 70px;
  margin: 5px;
  margin-block-end:1px;
  margin-block-start:1px;
  text-align: center;
}

.vol{
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  cursor: default;
}
.vol-icon{
  height: 18px;
  margin: 10px;
  color: rgba(255, 255, 255, 0.856);
}

.inter{
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  cursor: default;
}

.inter-icon{
  height: 18px;
  color: rgba(255, 255, 255, 0.856);
}

  @media (max-height: 780px){

    .logo1,.logo2 , .logo3, .logo4{
      max-height: 40px;
      min-height: 30px;
  }
  .logo2-contain, .logo3-contain, .logo4-contain{
    margin-left: 40px;
    height: 100%;
    width: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: red;
}

  }

  
  @media (max-width: 1150px){

    .logo1,.logo2 , .logo3, .logo4{
      max-height: 35px;
      min-height: 30px;
  }

  .logo5{
    height: 30px;
  }
  }