.about-contain{
    z-index: 1;
    height: 600px;
    width: 650px;
    box-shadow:  2px 4px rgba(0, 0, 0, .5);
    background-color: rgba(89, 132, 176, .4);
    position: absolute;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    user-select: none;
}


.arriba{
    height: 30px;
    text-shadow: 4px 4px 4px rgba(255, 255, 255, 1);
}

.barra2{
    background-color: #DDE2F2;
    height: 30px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
}

.barra2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80%;
    margin: 1px;

}

.barra2 div:hover{
border: .1px solid black;
border-radius: 4px;
cursor: pointer;
}

.abajo{
    background-color: white;
margin: 5px;
height: 93%;
border: .5px solid black;
}

.about-data {
    margin: 3px;
    overflow-y: auto;
    max-height: 90%; 
}


