body{
    overflow-x: hidden;
}

.internet-contain{
  z-index: 1;
    height: 93.8%;
    width: 100%;
    position: absolute;
    z-index: 10;
    border: .2px black solid;
    border-radius: 5px;
    background-color: rgba(89, 132, 176, .4);
    overflow: hidden;
  }
  
  
  .barrasuperior{
    height: 70px;
  
  }
  
  .barra{
    display: flex;
  }
  
  
  .barrita{
    background-color: white;
    border-radius: 2px;
    height: 30px;
    width: 60%;
    margin-left: 10px;
    font-size: 14px;
    align-items: center;
    display: flex;
  
  }

  
  .botones{
    position: absolute;
    right: 2px;
    top: 0px;
  }
  .cerrar{
    background-color: rgba(187, 66, 49, 1);
    width: 50px;
    
  }
  
  .internet-logo{
    height: 35px;
  }
  
  .favoritos{
    background-color: rgb(219, 218, 218);
    width: 99.2%;
    border: .1px solid black;
    margin: auto;
  display: flex;
padding: 1px;
  }

  .favoritos div{
    display: flex;
    width: 100px;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: rgb(91, 92, 128);
  }

  .primerdiv{
    margin-left: 10px;
  }

  .favoritos div:hover{
    background-color: rgb(156, 153, 153);
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .internet-data{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0F172A;
    border: .5px solid black;
    max-height: 87.5%;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
  }



  .foco {
    position: absolute;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.0005) 70%);
    pointer-events: none;
    z-index: 9999;
    display: none;
  }
  

  .pestañas{
    display: flex;
    justify-content: right;
    width: 100%;
    height:70px ;


  }
  
  .pestaña {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px;
    height: 40px;
    width: 120px;
    border-radius: 3px;
    color: #39C28A;
    box-shadow: none;
    transition: box-shadow 0.3s;
    font-weight: bold;
  }
  
  .pestaña:hover {
    box-shadow: 0 0 5px 1px #39C28A;
    cursor: pointer;
  }
  

  .datos-about{
    width: 40%;
    margin-left: 300px;
    margin-top: 80px;
    color: white;
  }

  .datos-about h3{
    color: #39C28A;
    font-size: 30px;
  }

  .datos-about p{
    color: #9c9999;
    width: 80%;
    font-size: 18px;
  }

  .datos-about h2{
    font-size: 60px;
  }





.internet-proyectos{
display: flex;
flex-direction: column;
width: 70%;
justify-content: center;
align-items: center;
margin: auto;

}
.internet-data a {
  text-decoration: none;
}

 .proyecto2:hover{
  background-color:#7c7cec0c;
  border-radius: 5px;
  
 }
.proyectos-titulos{
  margin-top: 150px;
  font-size: 40px;
  color: #39C28A;
}
  .proyecto2{
    padding: 5px;
    height: 220px;
    width: 870px;
    display: flex;
    color: white;
    
  }

  .proyecto2 img{
    margin-top: 60px;
  }

  .tecnologias-cont{
    display: flex;
    width: 700px;

  }

  .proyect-info{
    margin-left: 20px;
  }
  .tecnologias{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    margin: 5px;
    color: #48B5BC;
    background-color: #3469531c;
    padding: 5px;
    border-radius: 25px;
  }


  .datos-contacto{
    position: absolute;
  }

  .link{
    height: 50px;
    width: 50px;
    margin: 10px ;
    border-radius: 3px;
  }

  .link:hover{
    opacity: 0.5;
  }
  


  .tecno-title{
    color: #39C28A;
    margin: auto;
    margin-top: 150px ;
    margin-bottom: 150px ;
    font-size: 45px;
  }
  .about-tecnologias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }


.logo_tecno{
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-items: center;
  text-align: center;
  color:rgb(117, 118, 119)
}
  .logo_tecno img{
    height: 50px;
  }