.proyectos-contain{
  height: 50%;
  width: 50%;
  position: absolute;
  left: 25%;
  top: 25%;
  border: .2px black solid;
  border-radius: 5px;
  box-shadow:  2px 4px rgba(0, 0, 0, .5);
  background-color: rgba(89, 132, 176, .4);

}

.ordenador{
  display: flex;
  align-items: center
}
.ordenador img {
  height: 20px;
  width: 30px;
  margin: 5px;
}

.barrasuperior{
  height: 70px;

}

.barra{
  display: flex;
}


.barrita{
  background-color: white;
  border-radius: 2px;
  height: 30px;
  width: 60%;
  margin-left: 10px;
  font-size: 14px;
  align-items: center;
  display: flex;

}
.barrita img{
  height: 20px;
  width: 30px;
}

.botones{
  position: absolute;
  right: 2px;
  top: 0px;
}
.cerrar{
  background-color: rgba(187, 66, 49, 1);
  width: 50px;
  
}








.flecha1 , .flecha2{
  border-radius: 100%;
  height: 30px;
  margin-left:10px ;
}
.flecha2{
  margin-left:3px
}

.proyectos {
  background-color: white;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: calc(100% - 20%);
}


.proyecto1{
  cursor: pointer;
  height: 120px;
  width: 200px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.proyecto1:hover{
  background-color: rgb(42, 6, 245, 0.1);
}


.facilM{
  margin-top: 10px;
  margin: 5px;
  height: 80px;
  width: 180px;
}