.proyectos-contain {
  height: calc(50% );
  width: calc(50% );
  position: absolute;
  left: 25%;
  top: 25%;
  border: 0.2px black solid;
  border-radius: 5px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.5);
  background-color: rgba(89, 132, 176, 0.4);
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.proyectos {
  background-color: white;
  margin: 5px;
  height: 100%;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
}

.proyectos-container {
display: flex;
flex-wrap: wrap;
}

.proyecto1 {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 120px;
  width: 290px;
  margin: 10px;
}



a{
    text-decoration: none;
}

.proyects-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
    height: 120px;

}

.ordenador {
  display: flex;
  align-items: center;
}
.ordenador img {
  height: 20px;
  width: 30px;
  margin: 5px;
}

.proyect-barrasuperior {
  user-select: none;
}

.proyect-barra {
  display: flex;
  font-size: 10px;
}

.proyect-barrita {
  background-color: white;
  border-radius: 2px;
  height: 28px;
  width: 70%;
  margin-left: 10px;
  align-items: center;
  display: flex;
  font-size: 14px;
}

.proyect-barrita img {
  height: 20px;
  width: 30px;
}

.botones {
  position: absolute;
  right: 2px;
  top: 0px;
}

.botones  button{
margin: 1px;
}

.cerrar {
  background-color: rgba(187, 66, 49, 1);
  width: 50px;
  border-radius: 3px;
}

.flecha1,
.flecha2 {
  border-radius: 100%;
  height: 30px;
  margin-left: 10px;
}
.flecha2 {
  margin-left: 3px;
}



.proyecto1:hover {
  background-color: rgb(42, 6, 245, 0.1);
}

.facilM {
  margin-top: 10px;
  margin: 5px;
  height: 70%;
  width: 90%;
}

.proyectos-contain.maximized {
  width: 100%;
  height: 93.5%;
  left: 0;
  top: 0;
}

.secondbarrita{
  background-color: white;
  border-radius: 2px;
  height: 28px;
  width: fit-content;
  margin-left: 10px;
  margin-right: 5px;
  align-items: center;
  display: flex;
  width: 40%;
}

.secondbarrita p{
  margin: 4px;
  font-style: italic;
  font-size: 14px;
}

.flechas{
  display: flex;
}



@media (max-height: 1450px){

  .proyecto1 {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 305px;
    margin: 10px;
  }


}


@media (max-width: 1280px){

  .proyecto1 {
    width: 280px;

  }
 }

 @media (max-width: 1150px){

  .proyecto1 {
    width: 235px;
  }

  
  .proyect-barrita {
    width: 100%;
    font-size: 13px;
  }
  .secondbarrita p{
    margin: 4px;
    font-style: italic;
    font-size: 12px;
  }
}